.product-details {
  margin-bottom: 6vh;

  .images {
    padding-top: 3vh;
  }
}

.icon {
  padding-right: 2%;
}

.sizeLine {
  vertical-align: top;
}

.buttons-div {
  padding: 2% 0%;
}
.description-heading-div {
  padding-top: 2%;
}
.description-div {
}

@media only screen and (max-width: 450px) {
  .main-image {
    height: 80%;

    ::ng-deep .ngxImageZoomContainer {
      height: 800%;
      width: 100%;
    }
    ::ng-deep .ngxImageZoomContainer > img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 450px) and (max-width: 780px) {
  .main-image {
    height: 80%;
    ::ng-deep .ngxImageZoomContainer {
      height: 1000%;
      width: 100%;
    }

    ::ng-deep .ngxImageZoomContainer > img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 780px) and (max-width: 1440px) {
    .main-image {
      height: 80%;
      ::ng-deep .ngxImageZoomContainer {
        height: 420%;
        width: 100%;
      }
  
      ::ng-deep .ngxImageZoomContainer > img {
        height: 100%;
        width: 100%;
      }
    }
  }
