.app-footer {
  background-color: rgba(31, 2, 31, 0.833);
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 150px;
  bottom: 0;

  .app-footer-link {
    line-height: 1.5em;
    p {
      margin: 0;
    }

    .firstrow {
      display: flex;
      padding-top: 20px;

      .headingcolumn {
        @extend .flex-float;
        font-size: 18px;
      }
    }

    .row {
      display: flex;

      .column {
        @extend .flex-float;
        font-size: 12px;
      }
    }
  }
}

.flex-float {
  flex: 25%;
  float: left;
}
