.app-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  vertical-align: middle;
  bottom: 0%;

  .footer-row {
    padding-top: 2vh;
    padding-bottom: 2vh;

    .headingcolumn {
      font-size: 4vh;
    }
  }
  // .app-footer-link {
  //   line-height: 1.5em;
  //   p {
  //     margin: 0;
  //   }

  //   .firstrow {
  //     display: flex;
  //     padding-top: 20px;

  //     .headingcolumn {
  //       @extend .flex-float;
  //       font-size: 18px;
  //     }
  //   }

  //   .row {
  //     display: flex;

  //     .column {
  //       @extend .flex-float;
  //       font-size: 12px;
  //     }
  //   }
  // }
}

.flex-float {
  flex: 25%;
  float: left;
}
