<h3 class="title">{{ 'TITLE.NEW_ARRIVALS' | translate }}</h3>

<div class="button">
    <button mat-stroked-button>{{ 'BUTTON.VIEW_ALL' | translate }}</button>
</div>
<swiper [config]="constant.newArrivalsconfig" class="mySwiper">
    <ng-template swiperSlide *ngFor="let img of images">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon>favorite_border</mat-icon>
                </div>
                <!-- <div mat-card-avatar class="example-header-image">
                    <mat-icon>favorite</mat-icon>
                </div> -->
                <div mat-card-avatar class="example-header-image-share">
                    <mat-icon>share</mat-icon>
                    <div class="onHover">
                        <mat-icon>whatsapp</mat-icon>
                        <mat-icon>facebook</mat-icon>
                    </div>
                </div>
                <div mat-card-avatar class="example-header-image">
                    <mat-icon>pageview</mat-icon>
                </div>
            </mat-card-header>
            <img mat-card-image [src]="img.image" alt="">
            <mat-card-content class="card-content">
                <mat-card-subtitle class="cut-text">{{ img.name | uppercase }}</mat-card-subtitle>
                <mat-card-subtitle>{{ img.price | currency : "INR" }}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </ng-template>
</swiper>