.swiper {
  width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  --swiper-navigation-color: var(--color-gray);

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;

    .swiper-slide img {
      display: block;
      width: 50%;
    }
  }

  .card-content {
    .cut-text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .example-header-image-share {
    position: relative;
    display: inline-block;
  }
  .example-header-image-share:hover .onHover {
    display: block;
  }
  .onHover {
    position: absolute;
    display: none;
  }
}

.title {
  padding-top: 50px;
  text-align: center;
  font-size: 26px;
}

.button {
  text-align: center;

  .mat-stroked-button {
    padding: 4px 25px;
    font-size: 15px;
    font-weight: lighter;
  }
}
