.mat-grid-list {
  padding-bottom: calc(150% - 3vh) !important;
  margin: 0px 16px;

  .grid-title-50 {
    margin-top: calc(50% - 1vh) !important;
  }
  .grid-title-115 {
    margin-top: calc(100% - 2vh) !important;
  }

  .mat-card {
    margin: 0px 20px;

    .mat-card-content {
      .mat-card-actions {
        .mat-card-subtitle {
          font-size: 2vh;
          margin-top: 1vh;
          margin-bottom: 0%;
          text-align: center;
          color: var(--color-lightBlack);
        }
        .mat-stroked-button {
          font-size: 2vh;
          color: var(--color-black);
          text-align: center;
          padding: 0.5vh 2vh;
          font-weight: lighter;
          border-color: var(--color-lightBlack);
        }
      }
    }
  }
}

.title {
  margin: 2vh 0vh;
  font-size: 3vh;
}

@media only screen and (max-width: 600px) {
  .occasion-part {
    // margin-bottom: 1750px;
    padding-bottom: calc(350% + 57vw) !important;
  }
}
