<div fxLayoutAlign="center" class="container title">
    <div>{{ 'TITLE.SHOP_BY_OCCASIONS' | translate }}</div>
</div>

<div class="occasion-part">
    <mat-grid-list [cols]="cols" fxLayoutAlign="space-around">
        <mat-grid-tile
            [ngClass]="(i === 2 || i === 3 ) && cols === 2 ? 'grid-title-50' :  (i > 3) && cols === 2 ? 'grid-title-115' : ''"
            *ngFor="let occasion of occasions;let i=index">
            <mat-card>
                <img mat-card-image [src]="occasion.image" alt="">
                <mat-card-content>
                    <mat-card-actions>
                        <mat-card-subtitle>{{ occasion.name | uppercase }}</mat-card-subtitle>
                        <div fxFlex></div>
                        <button mat-stroked-button>{{
                            'BUTTON.SHOP_NOW' | translate }}</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<!-- <div fxLayout="column" class="container" fxLayoutGap="30px">
    <div>
        <div fxLayout="row">
            <div fxFlex="50" class="item item-1">1. One</div>
            <div fxFlex class="item item-2">2. two</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="50" class="item item-1">1. One</div>
            <div fxFlex class="item item-2">2. two</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="50" class="item item-1">1. One</div>
            <div fxFlex class="item item-2">2. two</div>
        </div>
    </div> 
</div> -->